.item-tile {
    border: 1px solid #dddbda;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item-tile-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
}

.item-tile-image-placeholder {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f2f2;
    border-radius: 4px;
    margin-bottom: 8px;
}
